<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.DynamicMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.DynamicModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="INTEGER" />
    <result column="thumbs" property="thumbs" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pics" property="pics" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="userDynamic" type="com.joyzone.platform.core.dto.UserDynamicDTO">
    <id column="userId" property="userId" jdbcType="BIGINT"/>
    <result column="userPic" property="userPic" jdbcType="VARCHAR"/>
    <result column="userName" property="userName" jdbcType="VARCHAR"/>
    <result column="userSex" property="userSex" jdbcType="INTEGER"/>
    <result column="userAge" property="userAge" jdbcType="INTEGER"/>
  </resultMap>
  
  <resultMap id="userDynamicList" type="com.joyzone.platform.core.dto.UserDynamicListDto">
    <id column="dynamicId" property="dynamicId" jdbcType="BIGINT"/>
    <result column="dynamicContent" property="dynamicContent" jdbcType="VARCHAR"/>
    <result column="createTime" property="createTime" jdbcType="DATE"/>
    <result column="pics" property="pics" jdbcType="VARCHAR"/>
    <collection property="commentDetailList" javaType="ArrayList" column="{dynamicId=dynamicId}" select="com.joyzone.platform.core.mapper.DynamicMapper.queryUserDynamicCommentList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserDynamicCommentListDTO">
    </collection>
  </resultMap>
  
  <resultMap id="userDynamicCommentList" type="com.joyzone.platform.core.dto.UserDynamicCommentListDTO">
    <id column="dynamicId" property="dynamicId" jdbcType="BIGINT"/>
    <result column="pid" property="pid" jdbcType="BIGINT"/>
    <result column="commentId" property="commentId" jdbcType="BIGINT"/>
    <result column="userId" property="userId" jdbcType="BIGINT"/>
    <result column="userPic" property="userPic" jdbcType="VARCHAR"/>
    <result column="userName" property="userName" jdbcType="VARCHAR"/>
    <result column="createTime" property="createTime" jdbcType="DATE"/>
    <result column="content" property="content" jdbcType="VARCHAR"/>
  </resultMap>
  
  <resultMap id="indexDynamicListMap" type="com.joyzone.platform.core.dto.IndexDynamicListDTO">
    <id column="dynamicId" property="dynamicId" jdbcType="BIGINT"/>
    <result column="userId" property="userId" jdbcType="BIGINT"/>
    <result column="userPic" property="userPic" jdbcType="VARCHAR"/>
    <result column="userName" property="userName" jdbcType="VARCHAR"/>
    <result column="userSex" property="userSex" jdbcType="INTEGER"/>
    <result column="userAge" property="userAge" jdbcType="INTEGER"/>
    <result column="dynamicContent" property="dynamicContent" jdbcType="VARCHAR"/>
    <result column="followCount" property="followCount" jdbcType="INTEGER"/>
    <result column="commentCount" property="commentCount" jdbcType="INTEGER"/>
    <result column="thumbCount" property="thumbCount" jdbcType="INTEGER"/>
    <result column="thumbed" property="thumbed" jdbcType="INTEGER"/>
    <result column="followed" property="followed" jdbcType="INTEGER"/>
    <result column="pics" property="pics" jdbcType="VARCHAR"/>
    <collection property="commentDetailList" javaType="ArrayList" column="{dynamicId=dynamicId}" select="com.joyzone.platform.core.mapper.DynamicMapper.queryUserDynamicCommentList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserDynamicCommentListDTO">
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, content, kind, thumbs, create_time, update_time, pics
  </sql>

  <select id="selectByUserDynamic" resultMap="userDynamic">
    SELECT
      u.id AS userId,
      u.head_pic AS userPic,
      u.user_name AS userName,
      u.sex AS userSex,
      TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge
    FROM `user` u
    WHERE u.id = #{userId}
  </select>

  <select id="queryUserDynamicList" resultMap="userDynamicList">
    SELECT
      d.id AS dynamicId,
      d.content AS dynamicContent,
      d.create_time AS createTime,
      d.pics
    FROM DYNAMIC d
    WHERE d.user_id = #{userId}
  </select>

  <select id="queryUserDynamicCommentList" resultMap="userDynamicCommentList">
    SELECT
      dc.dynamic_id AS dynamicId,
      dc.pid AS pid,
      dc.id AS commentId,
      dc.user_id AS userId,
      u.head_pic AS userPic,
      u.user_name AS userName,
      dc.create_time AS createTime,
      dc.content AS content
    FROM dynamic_comment dc
    LEFT JOIN USER u ON u.id = dc.user_id
    WHERE dc.dynamic_id = #{dynamicId}
  </select>

  <select id="getIndexDynamicList" resultMap="indexDynamicListMap">
    SELECT
      t.id AS dynamicId,
      t.content AS dynamicContent,
      t.thumbs AS thumbCount,
      t.pics AS pics,
      u.id AS userId,
      u.head_pic AS userPic,
      u.user_name AS userName,
      u.sex AS userSex,
      TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
      (SELECT COUNT(*) FROM follows f WHERE f.target_id = t.user_id) AS followCount,
      (SELECT COUNT(*) FROM dynamic_comment dc WHERE dc.dynamic_id = t.id) AS commentCount,
      (SELECT COUNT(*) FROM give_thumb gt WHERE gt.user_id = #{userId} AND gt.dynamic_id = t.id AND gt.status = 0) AS thumbed,
      (SELECT COUNT(*) FROM follows f WHERE f.user_id = #{userId} AND f.target_id = t.user_id AND f.status = 0) AS followed
    FROM (
           SELECT
                 <include refid="Base_Column_List"></include>
           FROM
                DYNAMIC
           ORDER BY create_time DESC
         ) t
    LEFT JOIN `user` u ON u.id = t.user_id
    GROUP BY t.user_id
  </select>
</mapper>