<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ForumDetailMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ForumDetailModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="forum_id" property="forumId" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="point_num" property="pointNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,forum_id,pid,user_id,point_num,status,create_time,update_time,content
  </sql>

  <select id="findByForumId" resultMap="BaseResultMap">
     select
      <include refid="BaseResultSQL"></include>
     from forum_detail where status = 1 and forum_id = #{forumId}
  </select>

  <select id="selectForumDetails" resultType="com.joyzone.platform.core.vo.AppForumVO">
    SELECT
      f.id,f.content,f.point_num as pointNum,f.create_time as createTime,u.id as userId,
      u.login_name as userName,u.head_pic as headPic,u.sex,u.education,u.profession,
      TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS age
    FROM forum_detail f INNER JOIN `user` u on (f.user_id = u.id and u.`status` = 0)
    WHERE f.`status` = 1 and f.forum_id = #{forumId}
  </select>

  <update id="updateForumDetailPointNum">
    update forum_detail set point_num = point_num + 1 where id = #{id}
  </update>
</mapper>