<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ForumMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ForumModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="point_num" property="pointNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,user_id,type,point_num,status,create_time,update_time,content
  </sql>

  <select id="getForumList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.ForumModel">
      select
        <include refid="BaseResultSQL"></include>
      from forum where 1=1
      <if test="type != null">
          and type = #{type}
      </if>
      <if test="startTime != null">
          and create_time >= #{startTime}
      </if>
      <if test="endTime != null">
          and create_time <![CDATA[ <= ]]> #{endTime}
      </if>
  </select>

    <select id="getAppForumList" resultType="com.joyzone.platform.core.vo.AppForumVO" >
        SELECT
            f.id,f.content,f.type,f.point_num as pointNum,f.create_time as createTime,
            u.id as userId,u.user_name as userName,u.head_pic as headPic,u.sex,u.education,
            u.profession,TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS age,
            IF((IFNULL((SELECT id FROM forum_fabulous ff WHERE ff.user_id = #{userId} AND ff.forum_id =f.id),0)=0),0,1) AS userIsPoint
        FROM forum f INNER JOIN `user` u on (f.user_id = u.id and u.`status` = 0)
        WHERE f.`status` = 1 order by pointNum desc, id desc
    </select>

    <update id="updateForumPointNum">
        update forum set
         <if test="type == 1">
             point_num = point_num + 1
         </if>
        <if test="type == 2">
            point_num = point_num - 1
        </if>
         where id = #{id}
    </update>
</mapper>