<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ForumFabulousMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ForumFabulous" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="forum_id" property="forumId" jdbcType="BIGINT" />
    <result column="forum_detail_id" property="forumDetailId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findByUserForum" resultMap="BaseResultMap">
      select id,user_id,forum_id,forum_detail_id,type,create_time from forum_fabulous
      where type = 1 and user_id = #{userId} and forum_id = #{forumId}
  </select>

  <select id="findByUserForumDetail" resultMap="BaseResultMap">
    select id,user_id,forum_id,forum_detail_id,type,create_time from forum_fabulous
    where type = 2 and user_id = #{userId} and forum_detail_id = #{forumDetailId}
  </select>
</mapper>