<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.InvitingUserMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.InvitingUserModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="inviting_id" property="invitingId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,inviting_id,user_id,status,create_time,update_time
  </sql>

  <select id="findByInvitingId" resultMap="BaseResultMap">
      select
        <include refid="BaseResultSQL"></include>
      from inviting_user where status = 1 and inviting_id = #{invitingId}
  </select>

  <select id="getRespondInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO"
                                                              parameterType="com.joyzone.platform.core.dto.InvitingDto">
    SELECT i.id AS invitingId,u.id AS userId,u.user_name AS userName,u.head_pic AS headPic,TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            i.address,i.content,i.start_time AS startTime, i.pay_way AS payWayName, i.type AS inviteType, 4 as type,
            (CASE WHEN iur.confirm = 0
                THEN 1
                ELSE 0
                END
             ) AS inviteOrNot
    FROM inviting i INNER JOIN inviting_user iur ON i.id = iur.inviting_id
    INNER JOIN
    user u ON u.id = iur.user_id
    WHERE u.status = 0 AND i.status = 0 AND iur.status = 1 AND i.owner = #{userId} AND i.start_time > NOW()
    ORDER BY iur.id DESC
  </select>
  
  <insert id="agreeOrNotTheInviting" parameterType="com.joyzone.platform.core.model.InvitingUserModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      insert into inviting_user(inviting_id,user_id,status,create_time)
      values(#{invitingId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{status,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP})
  </insert>

    <select id="getInvitingUserByIds" resultType="com.joyzone.platform.core.model.InvitingUserModel" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        SELECT *
        FROM inviting_user iu
        WHERE iu.inviting_id = #{invitingId} AND iu.user_id = #{userId} AND iu.status = 1
    </select>

    <select id="checkUserInInviting" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.InvitingUserModel">
        SELECT iu.* FROM inviting_user iu
        WHERE iu.user_id = #{userId} AND iu.inviting_id  = #{teamOrInvitingId} limit 1
    </select>
</mapper>