<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.InvitingMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.InvitingModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_way" property="payWay" jdbcType="INTEGER" />
      <result column="sex_want" property="sexWant" jdbcType="INTEGER" />
  </resultMap>

    <sql id="BaseResultSql">
        id,owner,shop_id,shop_name,address,content,type,start_time,status,result,create_time,update_time,pay_way,sex_want
    </sql>

    <select id="getInvitingList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.InvitingModel">
      select
        <include refid="BaseResultSql"></include>
      from inviting where 1=1
      <if test="type != null">
          and type = #{type}
      </if>
      <if test="result != null">
          and result = #{result}
      </if>
      <if test="startTime != null">
          and start_time >= #{startTime}
      </if>
      <if test="endTime != null">
          and start_time <![CDATA[ <= ]]> #{endTime}
      </if>
    </select>

    <select id="getUserToInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
      select u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
             (CASE i.pay_way
              WHEN 0 THEN 'AA制'
              WHEN 1 THEN '女生免费'
              WHEN 2 THEN '赢家免费'
              ELSE null END ) as payWayName,
        1 as type
      from inviting i inner join user u on u.id = i.`owner`
      where u.status = 0 and i.status = 0
      <if test="userId != null">
          and i.owner <![CDATA[ <> ]]> #{userId}
      </if>
      ORDER BY i.id desc
    </select>

    <select id="getConfirmInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        SELECT u.id AS userId,u.user_name AS userName,u.head_pic AS headPic,i.address,i.content,i.start_time AS startTime,
            (CASE i.type
            WHEN 0 THEN '吃喝'
            WHEN 1 THEN '玩乐'
            WHEN 2 THEN '其他'
            ELSE NULL END) AS inviteType,
            (CASE i.pay_way
            WHEN 0 THEN 'AA制'
            WHEN 1 THEN '女生免费'
            WHEN 2 THEN '赢家免费'
            ELSE NULL END ) AS payWayName,
        2 as type
        FROM inviting_user iu
        INNER JOIN inviting i ON i.id = iu.inviting_id
        INNER JOIN user u ON u.id = i.owner
        WHERE u.status = 0 AND i.status = 0 AND i.result = 1 AND confirm = 0
        <if test="userId != null">
            and iu.user_id = #{userId}
        </if>
        ORDER BY i.id DESC
    </select>

    <select id="getMyInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        select u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
        (CASE i.pay_way
        WHEN 0 THEN 'AA制'
        WHEN 1 THEN '女生免费'
        WHEN 2 THEN '赢家免费'
        ELSE null END ) as payWayName,
        3 as type
        from inviting i inner join user u on u.id = i.`owner`
        where u.status = 0 and i.status = 0
        <if test="userId != null">
            and i.owner = #{userId}
        </if>
        ORDER BY i.id desc
    </select>

</mapper>