<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.InvitingMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.InvitingModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_way" property="payWay" jdbcType="INTEGER" />
    <result column="sex_want" property="sexWant" jdbcType="INTEGER" />
    <result column="chat_group_id" property="chatGroupId" jdbcType="VARCHAR"/>
  </resultMap>

    <sql id="BaseResultSql">
        id,owner,address,content,type,start_time,status,result,number,create_time,update_time,pay_way,sex_want,chat_group_id
    </sql>

    <select id="getInvitingList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.InvitingModel">
      select
        <include refid="BaseResultSql"></include>
      from inviting where 1=1
      <if test="type != null">
          and type = #{type}
      </if>
      <if test="result != null">
          and result = #{result}
      </if>
      <if test="startTime != null">
          and start_time >= #{startTime}
      </if>
      <if test="endTime != null">
          and start_time <![CDATA[ <= ]]> #{endTime}
      </if>
    </select>

    <select id="getUserToInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
      select i.id AS invitingId,u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
             i.pay_way as payWayName,i.type as inviteType, 1 as type,
            (CASE WHEN i.id IN (SELECT DISTINCT inviting_id FROM inviting_user
            WHERE user_id = #{userId} AND STATUS = 1) THEN 1
            ELSE 0
            END
            ) AS agreeOrNot
      from inviting i inner join user u on u.id = i.`owner`
      where u.status = 0
      AND i.status = 0
      AND i.start_time > NOW()
      AND i.result = 2
      ORDER BY i.start_time ASC
    </select>

    <select id="getConfirmInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        SELECT i.id AS invitingId,u.id AS userId,u.user_name AS userName,u.head_pic AS headPic,i.address,i.content,i.start_time AS startTime,
                i.type AS inviteType, i.pay_way AS payWayName, 2 as type
        FROM inviting_user iu
        INNER JOIN inviting i ON i.id = iu.inviting_id
        INNER JOIN user u ON u.id = i.owner
        WHERE u.status = 0 AND i.status = 0 AND i.result = 1 AND confirm = 0 AND i.start_time > NOW()
        <if test="userId != null">
            and iu.user_id = #{userId}
        </if>
        ORDER BY i.id DESC
    </select>

    <select id="getMyInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        select i.id AS invitingId,u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
                i.type AS inviteType, i.pay_way as payWayName, 3 as type
        from inviting i inner join user u on u.id = i.`owner`
        where u.status = 0 and i.status = 0 AND i.start_time > NOW()
        <if test="userId != null">
            and i.owner = #{userId}
        </if>
        ORDER BY i.id desc
    </select>

    <select id="checkUserStartInviting" resultMap="BaseResultMap">
        SELECT *
        FROM inviting i
        WHERE i.owner = #{owner}
        AND content = #{content}
        AND start_time = #{startTime}
    </select>

    <select id="checkInvitingIfSuccess" resultType="java.util.HashMap">
        SELECT
        i.number,
        (SELECT COUNT(*) FROM inviting_user WHERE inviting_id =#{invitingId} AND STATUS = 0) AS joinNum
        FROM inviting i
        WHERE i.id = #{invitingId}
    </select>

</mapper>