<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.InvitingMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.InvitingModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_way" property="payWay" jdbcType="INTEGER" />
    <result column="sex_want" property="sexWant" jdbcType="INTEGER" />
    <result column="chat_group_id" property="chatGroupId" jdbcType="VARCHAR"/>
  </resultMap>

    <resultMap id="invitingUserMap" type="com.joyzone.platform.core.vo.AppInvitingVO">
        <id column="invitingId" property="invitingId" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="headPic" property="headPic" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="payWay" property="payWay" jdbcType="INTEGER" />
        <result column="inviteType" property="inviteType" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="personNum" property="personNum" jdbcType="INTEGER" />
        <result column="agreeOrNot" property="agreeOrNot" jdbcType="INTEGER" />
        <collection property="userDtoList" javaType="ArrayList" column="{invitingId=invitingId}" select="com.joyzone.platform.core.mapper.InvitingMapper.queryInvitingUserList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserDto">

        </collection>
    </resultMap>
    <resultMap id="invitingUserDtoMap" type="com.joyzone.platform.core.dto.UserDto">
        <id column="userId" property="userId" jdbcType="BIGINT" />
        <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
    </resultMap>

  	<insert id="saveInviting" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="InvitingModel" >
  insert into inviting(owner,address, content,type,start_time,status,result,number,create_time,pay_way,sex_want)
  values(#{owner,jdbcType=BIGINT},#{address,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},#{startTime,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},
  #{result,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},#{payWay,jdbcType=INTEGER},#{chatGroupId,jdbcType=VARCHAR})
  </insert>

    <sql id="BaseResultSql">
        id,owner,address,content,type,start_time,status,result,number,create_time,update_time,pay_way,sex_want,chat_group_id
    </sql>

    <select id="getInvitingList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.InvitingModel">
      select
        <include refid="BaseResultSql"></include>
      from inviting where 1=1
      <if test="type != null">
          and type = #{type}
      </if>
      <if test="result != null">
          and result = #{result}
      </if>
      <if test="startTime != null">
          and start_time >= #{startTime}
      </if>
      <if test="endTime != null">
          and start_time <![CDATA[ <= ]]> #{endTime}
      </if>
    </select>

    <select id="getUserToInvitings" resultMap="invitingUserMap" parameterType="com.joyzone.platform.core.dto.InvitingDto">
      select i.id AS invitingId,u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
             i.pay_way as payWay,i.type as inviteType, 1 as type,i.number as personNum,
            (CASE WHEN i.id IN (SELECT DISTINCT inviting_id FROM inviting_user
            WHERE user_id = #{userId} AND STATUS = 1) THEN 1
            ELSE 0
            END
            ) AS agreeOrNot
      from inviting i inner join user u on u.id = i.`owner`
      where u.status = 0
      AND i.status = 0
      AND i.start_time > NOW()
      AND i.result = 2
      ORDER BY i.start_time ASC
    </select>

    <select id="getConfirmInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        SELECT i.id AS invitingId,u.id AS userId,u.user_name AS userName,u.head_pic AS headPic,i.address,i.content,i.start_time AS startTime,
                i.type AS inviteType, i.pay_way AS payWayName, 2 as type
        FROM inviting_user iu
        INNER JOIN inviting i ON i.id = iu.inviting_id
        INNER JOIN user u ON u.id = i.owner
        WHERE u.status = 0 AND i.status = 0 AND i.result = 1 AND confirm = 0 AND i.start_time > NOW()
        <if test="userId != null">
            and iu.user_id = #{userId}
        </if>
        ORDER BY i.id DESC
    </select>

    <select id="getMyInvitings" resultType="com.joyzone.platform.core.vo.AppInvitingVO" parameterType="com.joyzone.platform.core.dto.InvitingDto">
        select i.id AS invitingId,u.id as userId,u.user_name as userName,u.head_pic as headPic,i.address,i.content,i.start_time as startTime,
                i.type AS inviteType, i.pay_way as payWayName, 3 as type
        from inviting i inner join user u on u.id = i.`owner`
        where u.status = 0 and i.status = 0 AND i.start_time > NOW()
        <if test="userId != null">
            and i.owner = #{userId}
        </if>
        ORDER BY i.id desc
    </select>

    <select id="checkUserStartInviting" resultMap="BaseResultMap">
        SELECT *
        FROM inviting i
        WHERE i.owner = #{owner}
        AND content = #{content}
        AND start_time = #{startTime}
    </select>

    <select id="checkInvitingIfSuccess" resultType="java.util.HashMap">
        SELECT
        i.number,
        (SELECT COUNT(*) FROM inviting_user WHERE inviting_id =#{invitingId} AND STATUS = 0) AS joinNum
        FROM inviting i
        WHERE i.id = #{invitingId}
    </select>
    
    <update id="updateChatGroupId">
    	update inviting set chat_group_id = #{groupId} where id = ${invitingId}
    </update>
    
    <select id="checkInvitingOwner" resultType="java.lang.String">
    select chat_group_id as chatGroupId from inviting where id=${invitingId} and owner = ${ownerId}
    </select>
    
    <select id="getGroupId" resultType="java.lang.String">
    select chat_group_id as chatGroupId from inviting where id = ${invitingId}
    </select>

    <select id="queryInvitingUserList" resultMap="invitingUserDtoMap">
        SELECT u.id AS userId,u.head_pic AS userHeadImg
        FROM inviting_user iu
        LEFT JOIN `user` u ON u.id = iu.user_id
        WHERE iu.inviting_id = #{invitingId}
    </select>
    
    <update id="disableExpiredInviting">
    	update inviting set status = 1 where status = 0 and TO_DAYS(now()) - TO_DAYS(start_time) >= 1
    </update>
    
    <select id="getDisabledInvitingGroupIds" resultType="java.lang.String">
    	select chat_group_id from inviting where status = 1
    </select>
</mapper>