<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.OrderModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="team_id" property="teamId" jdbcType="BIGINT" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="shop_type_id" property="shopTypeName" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="person_num" property="personNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="teamOrderListMap" type="com.joyzone.platform.core.dto.OrderMineDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="shopId" property="shopId" jdbcType="BIGINT" />
    <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="DATE" />
    <result column="personNum" property="personNum" jdbcType="INTEGER" />
    <collection property="userJoinList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.OrderMapper.queryUserJoinTeamList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDto">

    </collection>
  </resultMap>

  <resultMap id="userJoinTeamMap" type="com.joyzone.platform.core.dto.UserJoinTeamDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,team_id,order_type,order_no,shop_kind,shop_id,person_num,create_time,update_time,pay_time,status
  </sql>

  <select id="getOrderList" resultType="com.joyzone.platform.core.dto.OrderDto" parameterType="com.joyzone.platform.core.dto.OrderDto">
    select
      o.id,o.order_no as orderNo,o.order_type as orderType,o.person_num as personNum,o.price,
      o.pay_time as payTime,o.team_id as teamId,o.create_time as createTime,o.status,
      s.id as shopId,s.`name` as shopName,st.id as shopTypeId,st.`name` as shopTypeName
    from orders o LEFT JOIN shop s on s.id = o.shop_id
    LEFT JOIN shop_type st on st.id = o.shop_type_id
    where 1=1
    <if test="orderType != null">
      and o.order_type = #{orderType}
    </if>
    <if test="shopId != null">
      and o.shop_id = #{shopId}
    </if>
    <if test="status != null">
      and o.status = #{status}
    </if>
    <if test="shopTypeId != null">
      and o.shopTypeId = #{shopTypeId}
    </if>
  </select>

  <select id="findById" resultType="com.joyzone.platform.core.dto.OrderDto">
    select
    o.id,o.order_no as orderNo,o.order_type as orderType,o.person_num as personNum,o.price,
    o.pay_time as payTime,o.team_id as teamId,o.create_time as createTime,o.status,
    s.id as shopId,s.`name` as shopName,st.id as shopTypeId,st.`name` as shopTypeName
    from orders o LEFT JOIN shop s on s.id = o.shop_id
    LEFT JOIN shop_type st on st.id = o.shop_type_id
    where o.id = #{id}
  </select>

  <select id="getTeamOrderList" resultMap="teamOrderListMap" parameterType="com.joyzone.platform.core.model.OrderModel">
    SELECT
    t.id AS teamId,
    t.shop_id AS shopId,
    s.cover_img AS shopImg,
    s.name AS shopName,
    s.address AS shopAddress,
    t.start_time AS startTime,
    t.number AS personNum
    FROM team_users tu
    LEFT JOIN team t ON t.id = tu.team_id
    LEFT JOIN shop s ON s.id = t.shop_id
    WHERE user_id = #{userId}
    AND t.status = 0
    AND t.result = 0
  </select>

  <select id="queryUserJoinTeamList" resultMap="userJoinTeamMap">
    SELECT tu.team_id AS teamId,u.id AS userId,u.head_pic AS userHeadImg
    FROM team_users tu
    LEFT JOIN user u ON u.id = tu.user_id
    WHERE tu.team_id = #{teamId} AND tu.status = 0
  </select>


</mapper>