<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ShopCouponMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ShopCouponModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_type_id" property="shopTypeId" jdbcType="BIGINT" />
    <result column="shop_type_name" property="shopTypeName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="back_img" property="backImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

   <resultMap id="couponShopList" type="com.joyzone.platform.core.dto.CouponDto">
       <id column="couponId" property="couponId" jdbcType="BIGINT" />
       <result column="couponImg" property="couponImg" jdbcType="VARCHAR" />
       <result column="shopId" property="shopId" jdbcType="BIGINT" />
       <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
       <result column="shopName" property="shopName" jdbcType="VARCHAR" />
       <result column="couponName" property="couponName" jdbcType="VARCHAR" />
       <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
       <result column="startTime" property="startTime" jdbcType="DATE" />
       <result column="endTime" property="endTime" jdbcType="DATE" />
       <result column="shopTypeName" property="shopTypeName" jdbcType="VARCHAR" />
       <result column="personNum" property="personNum" jdbcType="INTEGER" />
       <collection property="userJoinList" javaType="ArrayList" column="{couponId=couponId}" select="com.joyzone.platform.core.mapper.ShopCouponMapper.queryUserJoinCouponList"
                   fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinCouponDto">

       </collection>
   </resultMap>

    <resultMap id="userJoinCouponMap" type="com.joyzone.platform.core.dto.UserJoinCouponDto">
        <id column="couponId" property="couponId" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
    </resultMap>

  <sql id="BaseResultSQL">
    id, shop_id,name,price,back_img,status,result,number,start_time,end_time,create_time,
    update_time,content,number,shop_name,shop_type_id,shop_type_name
  </sql>

  <select id="getShopCouponList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.ShopCouponModel">
      select
        <include refid="BaseResultSQL"></include>
      from shop_coupon
      where 1=1
       <if test="name != '' and name != null">
         and name like CONCAT('%',#{name},'%')
       </if>
      <if test="shopId != null">
         and shop_id = #{shopId}
      </if>
      <if test="status != null">
         and status = #{status}
      </if>
      <if test="startTime != null">
        and start_time >= #{startTime}
      </if>
      <if test="endTime != null">
        and start_time <![CDATA[ <= ]]> #{endTime}
      </if>
  </select>

    <select id="getCouponShopList" resultType="java.util.HashMap" parameterType="com.joyzone.platform.core.model.ShopCouponModel">
        SELECT
            s.id AS couponShopId,
            s.name AS couponShopName,
            s.address AS couponShopAddress,
            s.price AS couponShopPrice,
            s.cover_img AS shopCoverImg,
            st.id AS shopTypeId,
            st.name AS shopTypeName
        FROM shop s
        LEFT JOIN shop_type st ON st.id = s.shop_type_id
        WHERE s.status = 1 AND st.status = 1 AND st.type = 2
    </select>

    <select id="getCouponList" resultMap="couponShopList" parameterType="com.joyzone.platform.core.model.ShopCouponModel">
        SELECT
        sc.id AS couponId,
        sc.back_img AS couponImg,
        sc.shop_id AS shopId,
        s.cover_img AS shopImg,
        s.name AS shopName,
        sc.name AS couponName,
        s.address AS shopAddress,
        sc.start_time AS startTime,
        sc.end_time AS endTime,
        sc.shop_type_name AS shopTypeName,
        sc.number AS personNum
        FROM (
            SELECT * FROM shop_coupon WHERE id IN (
            SELECT a.id FROM (
                SELECT
                sc.id,sc.`number`,
                (SELECT COUNT(*) FROM coupon_user WHERE coupon_id =sc.id AND STATUS = 0) AS joinNum
                FROM shop_coupon sc
                LEFT JOIN coupon_user cu ON cu.coupon_id = sc.id
                GROUP BY sc.id
            ) a
            WHERE 1=1
            <if test="sort == 0">
              and a.number <![CDATA[ <= ]]> (a.joinNum * 2)
            </if>
            <if test="sort == 1">
                and a.number > (a.joinNum * 2)
            </if>
            )
        ) sc
        LEFT JOIN shop s ON s.id = sc.shop_id
        WHERE sc.status = 1
        AND sc.result = 0
        AND sc.end_time > NOW()
    </select>

    <select id="queryUserJoinCouponList" resultMap="userJoinCouponMap">
        SELECT cu.coupon_id AS couponId,u.id AS userId,u.head_pic AS userHeadImg
        FROM coupon_user cu
        LEFT JOIN user u ON u.id = cu.user_id
        WHERE cu.coupon_id = #{couponId} AND cu.status = 0
    </select>

    <select id="checkCouponIfSuccess" resultType="java.util.HashMap">
        SELECT
        sc.number,
        (SELECT COUNT(*) FROM coupon_user WHERE coupon_id =#{couponId} AND STATUS = 0) AS joinNum
        FROM shop_coupon sc
        WHERE sc.id = #{couponId}
    </select>

    <delete id="delCoupons">
        delete from user where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>