<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ShopModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reg_img" property="regImg" jdbcType="VARCHAR" />
    <result column="legal_person_img" property="legalPersonImg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="lng" property="lng" jdbcType="DECIMAL"/>
    <result column="lat" property="lat" jdbcType="DECIMAL"/>
    <result column="province" property="province" jdbcType="VARCHAR"/>
    <result column="city" property="city" jdbcType="VARCHAR"/>
    <result column="area" property="area" jdbcType="VARCHAR"/>
    <result column="shop_type_id" property="shopTypeId" jdbcType="BIGINT"/>
    <result column="shop_type_name" property="shopTypeName" jdbcType="VARCHAR"/>
  </resultMap>

    <resultMap id="ShopHomeDtoMap" type="com.joyzone.platform.core.dto.ShopHomeDto">
        <id column="userId" property="userId" jdbcType="BIGINT" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <collection property="shopHomeBannerDtoList" javaType="ArrayList" column="{userId=userId}" select="com.joyzone.platform.core.mapper.ShopMapper.queryShopHomeBannerDtoList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopHomeBannerDto">

        </collection>
        <collection property="shopHomeTypeDtoList" javaType="ArrayList" column="{userId=userId}" select="com.joyzone.platform.core.mapper.ShopMapper.queryShopHomeTypeDtoList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopHomeTypeDto">

        </collection>
        <collection property="shopHomeHotDtoList" javaType="ArrayList" column="{userId=userId}" select="com.joyzone.platform.core.mapper.ShopMapper.queryShopHomeHotDtoList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopHomeHotDto">

        </collection>
        <collection property="shopHomeListDtoList" javaType="ArrayList" column="{userId=userId}" select="com.joyzone.platform.core.mapper.ShopMapper.queryShopHomeListDtoList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopHomeListDto">

        </collection>
    </resultMap>

    <resultMap id="shopHomeBannerDtoMap" type="com.joyzone.platform.core.dto.ShopHomeBannerDto">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopCoverImg" property="shopCoverImg" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="shopHomeTypeDtoMap" type="com.joyzone.platform.core.dto.ShopHomeTypeDto">
        <id column="shopTypeId" property="shopTypeId" jdbcType="BIGINT" />
        <result column="shopTypeName" property="shopTypeName" jdbcType="VARCHAR" />
        <result column="typeImage" property="typeImage" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
    </resultMap>
    <resultMap id="shopHomeListDtoMap" type="com.joyzone.platform.core.dto.ShopHomeListDto">
        <id column="shopTypeId" property="shopTypeId" jdbcType="BIGINT" />
        <result column="shopTypeName" property="shopTypeName" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <collection property="shopHomeCoverList" javaType="ArrayList" column="{shopTypeId=shopTypeId}" select="com.joyzone.platform.core.mapper.ShopMapper.queryShopHomeCoverList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopHomeListCoverDto">

        </collection>
    </resultMap>
    <resultMap id="shopHomeCoverMap" type="com.joyzone.platform.core.dto.ShopHomeListCoverDto">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopCover" property="shopCover" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="shopHomeHotDtoMap" type="com.joyzone.platform.core.dto.ShopHomeHotDto">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopCover" property="shopCover" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="shopInfoDto" type="com.joyzone.platform.core.dto.ShopInfoDto" >
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="coverImg" property="coverImg" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="regImg" property="regImg" jdbcType="VARCHAR" />
        <result column="legalPersonImg" property="legalPersonImg" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="lng" property="lng" jdbcType="DECIMAL"/>
        <result column="lat" property="lat" jdbcType="DECIMAL"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="shopTypeId" property="shopTypeId" jdbcType="BIGINT"/>
        <result column="shopTypeName" property="shopTypeName" jdbcType="VARCHAR"/>
        <result column="shopCollectStatus" property="shopCollectStatus" jdbcType="INTEGER" />
        <collection property="shopTeamsDtoList" javaType="ArrayList" column="{shopId=shopId}" select="com.joyzone.platform.core.mapper.TeamMapper.getShopTeamListByShopId"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ShopTeamsDto">
        </collection>
        <collection property="coverImgList" javaType="ArrayList" column="{shopId=shopId}" select="com.joyzone.platform.core.mapper.ShopMapper.getShopCoverListByShopId"
                    fetchType="lazy" ofType="java.lang.String">
        </collection>
    </resultMap>

  <insert id="addShop" parameterType="com.joyzone.platform.core.model.ShopModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  insert into shop(name,phone,address,description,price,cover_img,status,
  	reg_img,legal_person_img,create_time,province,city,area,lng,lat,shop_type_id,shop_type_name)
  values(#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
  #{description,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL},
  #{coverImg,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{regImg,jdbcType=VARCHAR},
  #{legalPersonImg,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{province,jdbcType=VARCHAR},
  #{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{lng,jdbcType=DECIMAL},#{lat,jdbcType=DECIMAL},
  #{shopTypeId,jdbcType=BIGINT},#{shopTypeName,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateShop" parameterType="com.joyzone.platform.core.model.ShopModel">
   update shop
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="coverImg != null" >
        cover_img = #{coverImg,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="regImg != null" >
        reg_img = #{regImg,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonImg != null" >
        legal_person_img = #{legalPersonImg,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
     </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
     <if test="shopTypeId != null">
        shop_type_id = #{shopTypeId,jdbcType=BIGINT},
     </if>
     <if test="shopTypeName != null and shopTypeName != ''">
        shop_type_name = #{shopTypeName,jdbcType=VARCHAR},
     </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="batchDelete">
  delete from shop where id in
  <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
  		#{id}
  </foreach>
  </delete>

  <select id="getAppShopList" resultType="com.joyzone.platform.core.vo.AppShopVO"
                              parameterType="com.joyzone.platform.core.dto.ShopDto">
      select
         id,name,shop_type_id as shopTypeId,shop_type_name as shopTypeName,price,address,lng,lat,cover_img as coverImg,description
      from shop
      <where>
        <if test="status != null">
            status = #{status}
        </if>
        <if test="shopTypeId != null">
            and shop_type_id = #{shopTypeId}
        </if>
        <if test="areaCode != null">
            and area = #{areaCode}
        </if>
      </where>
  </select>

  <select id="findById" resultMap="BaseResultMap">
      select * from shop where id = #{id}
  </select>

    <select id="findShopInfoDtoByShopId" resultMap="shopInfoDto">
        select id as shopId,
        name as shopName,
        phone,
        address,
        description,
        price,
        cover_img as coverImg,
        status,
        reg_img as regImg,
        legal_person_img as legalPersonImg,
        create_time as createTime,
        update_time as updateTime,
        lng,
        lat,
        province,
        city,
        area,
        shop_type_id as shopTypeId,
        shop_type_name as shopTypeName,
        (
	        SELECT status FROM shop_collect WHERE user_id = #{userId} AND shop_id = #{shopId}
        ) AS shopCollectStatus
        from shop
        where id = #{shopId}
    </select>

  <select id="findAll" resultMap="BaseResultMap">
      select * from shop
  </select>

  <select id="getAppShopHomeList" resultType="com.joyzone.platform.core.vo.AppShopVO">
    select
      st.name as shopTypeName,s.id,s.name,s.price,s.address,s.lng,
      s.lat,s.cover_img as coverImg,s.description
    from shop s inner join shop_type st on st.id = s.shop_type_id
    where s.status = 1 and st.type = 1 and st.status = 1 and st.id = #{shopTypeId}  limit #{size}
  </select>

  <select id="getShopPicList" resultType="java.lang.String">
     select cover_img from shop where status = 1 limit #{size}
  </select>

    <select id="getShopHomeList" resultMap="ShopHomeDtoMap">
         SELECT
             id AS userId,
             user_name AS userName
         FROM user
         WHERE id = #{userId}
    </select>

    <select id="queryShopHomeBannerDtoList" resultMap="shopHomeBannerDtoMap">
        SELECT
          id AS shopId,
          cover_img AS shopCoverImg
        FROM shop
        WHERE STATUS = 1 LIMIT 6
    </select>

    <select id="queryShopHomeTypeDtoList" resultMap="shopHomeTypeDtoMap">
        SELECT
            id AS shopTypeId,
            name AS shopTypeName,
            type_image as typeImage,
            (id-1) AS sort
        FROM shop_type
        WHERE status = 1 AND type = 0
        ORDER BY sort
        LIMIT 8
    </select>

    <select id="queryShopHomeHotDtoList" resultMap="shopHomeHotDtoMap">
        SELECT
         id AS shopId,
         cover_img AS shopCover
         FROM shop WHERE id IN (24,29,38,42)
    </select>

    <select id="queryShopHomeListDtoList" resultMap="shopHomeListDtoMap">
          SELECT
              st.id AS shopTypeId,
              st.name AS shopTypeName,
              (st.id-1) AS sort
         FROM shop s
         LEFT JOIN shop_type st ON st.id = s.`shop_type_id`
         WHERE st.type = 0
         GROUP BY st.id
    </select>

    <select id="queryShopHomeCoverList" resultMap="shopHomeCoverMap">
         SELECT
         id AS shopId,
         cover_img AS shopCover
         FROM shop
         WHERE shop_type_id = #{shopTypeId}
    </select>

    <select id="getAppShopByTypeId" resultType="com.joyzone.platform.core.model.ShopModel">
         SELECT
         id,NAME,shop_type_id AS shopTypeId,shop_type_name AS shopTypeName,price,address,lng,lat,cover_img AS coverImg,description
         FROM shop
         WHERE shop_type_id = #{typeId}
         AND STATUS = 1
    </select>

    <select id="getShopMapList" resultType="java.util.Map">
        SELECT id,NAME FROM shop where 1=1
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
    </select>

    <select id="listShops" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.ShopModel">
        select * from shop where 1=1
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="startTime != null">
            and create_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>

    <select id="getShopCoverListByShopId" resultType="java.lang.String">
        SELECT File_path FROM document WHERE OWNER = #{shopId} AND file_name = 'shopImg' AND TYPE = 0
    </select>

</mapper>