<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ShopModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cover_img" property="coverImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reg_img" property="regImg" jdbcType="VARCHAR" />
    <result column="legal_person_img" property="legalPersonImg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="lng" property="lng" jdbcType="DECIMAL"/>
    <result column="lat" property="lat" jdbcType="DECIMAL"/>
    <result column="province" property="province" jdbcType="VARCHAR"/>
    <result column="city" property="city" jdbcType="VARCHAR"/>
    <result column="area" property="area" jdbcType="VARCHAR"/>
  </resultMap>
  
  <insert id="addShop" parameterType="com.joyzone.platform.core.model.ShopModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
  insert into shop(name,phone,address,description,price,cover_img,status,
  	reg_img,legal_person_img,create_time,province,city,area,lng,lat)
  values(#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
  #{description,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL},
  #{coverImg,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{regImg,jdbcType=VARCHAR},
  #{legalPersonImg,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},#{province,jdbcType=VARCHAR},
  #{city,jdbcType=VARCHAR},#{area,jdbcType=VARCHAR},#{lng,jdbcType=DECIMAL},#{lat,jdbcType=DECIMAL})
  </insert>
  
  <update id="updateShop" parameterType="com.joyzone.platform.core.model.ShopModel">
   update shop
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="coverImg != null" >
        cover_img = #{coverImg,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="regImg != null" >
        reg_img = #{regImg,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonImg != null" >
        legal_person_img = #{legalPersonImg,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
     </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="batchDelete">
  delete from shop where id in
  <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
  		#{id}
  </foreach>
  </delete>

  <select id="getAppShopList" resultType="com.joyzone.platform.core.vo.AppShopVO"
                              parameterType="com.joyzone.platform.core.dto.ShopDto">
      select
         id,name,shop_type_id as shopTypeId,price,address,lng,lat,cover_img as coverImg,lng,lat
      from shop
      <where>
        <if test="status != null">
            status = #{status}
        </if>
        <if test="shopTypeId != null">
            and shop_type_id = #{shopTypeId}
        </if>
        <if test="areaCode != null">
            and area = #{areaCode}
        </if>
      </where>
  </select>

  <select id="findById" resultMap="BaseResultMap">
      select * from shop where id = #{id}
  </select>
</mapper>