<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.ShopCouponMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.ShopCouponModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_type_id" property="shopTypeId" jdbcType="BIGINT" />
    <result column="shop_type_name" property="shopTypeIdName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="back_img" property="backImg" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="BaseResultSQL">
    id, shop_id,name,price,back_img,status,number,start_time,end_time,create_time,
    update_time,content,number,shop_name,shop_type_id,shop_type_name
  </sql>

  <select id="getShopCouponList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.ShopCouponModel">
      select
        <include refid="BaseResultSQL"></include>
      from shop_coupon
      where 1=1
       <if test="name != '' and name != null">
         and name like CONCAT('%','${name}','%')
       </if>
      <if test="shopId != null">
         and shop_id = #{shopId}
      </if>
      <if test="status != null">
         and status = #{status}
      </if>
  </select>
</mapper>