<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.SysUserModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="try_err_times" property="tryErrTimes" jdbcType="INTEGER" />
  </resultMap>
  
  <update id="updateSysUser" parameterType="com.joyzone.platform.core.model.SysUserModel">
   update sys_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tryErrTimes != null" >
        try_err_times = #{tryErrTimes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="batchDelete">
  delete from sys_user where id in 
  <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
  		#{id}
  </foreach>
  </delete>
  
  <select id="selectByName" resultType="com.joyzone.platform.core.model.SysUserModel">
  	select * from sys_user where status = 0 and name = #{userName}
  </select>
  
  <select id="checkUserByName" resultType="java.lang.Integer">
  	select 1 from sys_user where name = #{userName}
  </select>
  
  <update id="logErrLogin">
  	update sys_user set last_login_time = sysdate(), try_err_times = try_err_times + 1 where name = #{userName}
  </update>
  
  <select id="checkErrLoginCount" resultType="java.lang.Integer">
  select try_err_times from sys_user where name = #{userName}
  </select>
  
  <select id="listUsers" parameterType="com.joyzone.platform.core.model.SysUserModel" resultType="com.joyzone.platform.core.model.SysUserModel">
    select id,shop_id, name, phone, sex, head_img,status,create_time,update_time,last_login_time from sys_user
	  <where>
	  	<if test="id != null ">id=#{id}</if>
	  	<if test="name != null and name.length()>0" >and name like "%"#{name}"%"</if>
	  	<if test="shopId != null">and shop_id = #{shopId}</if>
        <if test="startTime != null">and create_time >= #{startTime}</if>
        <if test="endTime != null">and create_time <![CDATA[ <= ]]> #{endTime}</if>
	  </where>
  </select>

  <select id="selectById" resultType="com.joyzone.platform.core.model.SysUserModel" parameterType="java.lang.Long">
      select id,shop_id,name, phone, sex, head_img,status,last_login_time,create_time,update_time from sys_user where id = #{id}
  </select>
  
  <select id="selectByShopId" resultType="SysUserModel">
  select id, shop_id, name, head_img from sys_user
  where shop_id = #{shopId} and status = 0 limit 1
  </select>
</mapper>