<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.TeamModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_way" property="payWay" jdbcType="INTEGER" />
    <result column="sex_want" property="sexWant" jdbcType="INTEGER" />
    <result column="chat_group_id" property="chatGroupId" jdbcType="VARCHAR"/>
      <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
      <result column="activity_type" property="activityType" jdbcType="INTEGER"/>
      <result column="activity_name" property="activityName" jdbcType="VARCHAR"/>
      <result column="activity_address" property="activityAddress" jdbcType="VARCHAR"/>
      <result column="number_boy" property="numberBoy" jdbcType="INTEGER"/>
      <result column="number_girl" property="numberGirl" jdbcType="INTEGER"/>
      <result column="to_way" property="toWay" jdbcType="INTEGER"/>
      <result column="invited_id" property="invitedId" jdbcType="BIGINT"/>
      <result column="tag" property="tag" jdbcType="INTEGER"/>
  </resultMap>

  <resultMap id="teamListMap" type="com.joyzone.platform.core.dto.TeamDTO">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="shopId" property="shopId" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="personNum" property="personNum" jdbcType="INTEGER" />
    <collection property="userJoinList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDTO">

    </collection>
  </resultMap>

  <resultMap id="userJoinTeamMap" type="com.joyzone.platform.core.dto.UserJoinTeamDTO">
    <id column="teamOrInvitingId" property="teamOrInvitingId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="shopTeamsMap" type="com.joyzone.platform.core.dto.ShopTeamsDTO">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="teamId" property="teamId" jdbcType="BIGINT" />
        <result column="shopCoverImg" property="shopCoverImg" jdbcType="VARCHAR" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
        <result column="shopPrice" property="shopPrice" jdbcType="DECIMAL" />
        <collection property="teamUsers" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDTO">

        </collection>
    </resultMap>

    <resultMap id="teamRuleMap" type="com.joyzone.platform.core.dto.TeamRuleDTO">
        <id column="teamId" property="teamId" jdbcType="BIGINT" />
        <result column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
        <result column="lng" property="lng" jdbcType="DECIMAL"/>
        <result column="lat" property="lat" jdbcType="DECIMAL"/>
        <result column="shopPrice" property="shopPrice" jdbcType="DECIMAL" />
        <result column="shopPhone" property="shopPhone" jdbcType="VARCHAR" />
        <result column="payWay" property="payWay" jdbcType="INTEGER" />
        <result column="sexWant" property="sexWant" jdbcType="INTEGER" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="personNum" property="personNum" jdbcType="INTEGER" />
        <result column="shopCollectStatus" property="shopCollectStatus" jdbcType="INTEGER" />
        <collection property="userJoinList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDTO">
        </collection>
        <collection property="coverImgList" javaType="ArrayList" column="{shopId=shopId}" select="com.joyzone.platform.core.mapper.ShopMapper.getShopCoverListByShopId"
                    fetchType="lazy" ofType="java.lang.String">
        </collection>
    </resultMap>

    <resultMap id="activityMap" type="com.joyzone.platform.core.dto.ActivityDTO">
        <id column="teamId" property="teamId" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="userCover" property="userCover" jdbcType="VARCHAR" />
        <result column="userSex" property="userSex" jdbcType="INTEGER" />
        <result column="userAge" property="userAge" jdbcType="INTEGER" />
        <result column="activityName" property="activityName" jdbcType="VARCHAR" />
        <result column="activityAddress" property="activityAddress" jdbcType="VARCHAR" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="distance" property="distance" jdbcType="DECIMAL" />
        <result column="activityType" property="activityType" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="payWay" property="payWay" jdbcType="INTEGER" />
        <result column="joinUserNum" property="joinUserNum" jdbcType="INTEGER" />
        <result column="totalUserNum" property="totalUserNum" jdbcType="INTEGER" />
        <result column="label" property="label" jdbcType="INTEGER" />
        <result column="teamStatus" property="teamStatus" jdbcType="INTEGER" />
        <collection property="joinUserImgs" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryJoinUserImgs"
                    fetchType="lazy" ofType="java.lang.String">
        </collection>
    </resultMap>

    <resultMap id="activityDetailMap" type="com.joyzone.platform.core.dto.ActivityDetailDTO">
        <id column="teamId" property="teamId" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="activityType" property="activityType" jdbcType="INTEGER" />
        <result column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="activityName" property="activityName" jdbcType="VARCHAR" />
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
        <result column="activityAddress" property="activityAddress" jdbcType="VARCHAR" />
        <result column="payWay" property="payWay" jdbcType="INTEGER" />
        <result column="boyNumber" property="boyNumber" jdbcType="INTEGER" />
        <result column="girlNumber" property="girlNumber" jdbcType="INTEGER" />
        <result column="joinUserNum" property="joinUserNum" jdbcType="INTEGER" />
        <result column="totalUserNum" property="totalUserNum" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="tag" property="tag" jdbcType="INTEGER" />
        <collection property="joinUserImgs" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryJoinUserImgs"
                    fetchType="lazy" ofType="java.lang.String">
        </collection>

        <collection property="joinUserInfoList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryJoinUserInfos"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ActivityUserDTO">
        </collection>
    </resultMap>
    
    <resultMap id="shopDetailDtoMap" type="com.joyzone.platform.core.dto.ShopDetaiDTO">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
        <result column="shopPhone" property="shopPhone" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="lng" property="lng" jdbcType="DECIMAL"/>
        <result column="lat" property="lat" jdbcType="DECIMAL"/>
        <result column="isCollected" property="isCollected" jdbcType="INTEGER"/>
        <result column="shopInfoH5" property="shopInfoH5" jdbcType="VARCHAR" />
        <collection property="shopPicList" javaType="ArrayList" column="{shopId=shopId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryShopPicList"
                    fetchType="lazy" ofType="java.lang.String">
        </collection>

        <collection property="shopTeamList" javaType="ArrayList" column="{shopId=shopId,userId=userId}" select="com.joyzone.platform.core.mapper.TeamMapper.getShopActivityList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.ActivityDTO">
        </collection>
    </resultMap>

    <select id="getTeamListOld" resultMap="teamListMap" parameterType="com.joyzone.platform.core.model.TeamModel">
        SELECT
            t.id AS teamId,
            t.shop_id AS shopId,
            s.cover_img AS shopImg,
            s.name AS shopName,
            s.address AS shopAddress,
            t.start_time AS startTime,
            t.number AS personNum
        FROM (
            SELECT * FROM team WHERE id IN (
                SELECT a.id FROM (
                    SELECT
                    t.id,t.`number`,
                    (SELECT COUNT(*) FROM team_users WHERE team_id =t.id AND STATUS = 0) AS joinNum
                    FROM team t
                    LEFT JOIN team_users tu ON tu.team_id = t.id
                    GROUP BY t.id
                ) a
                WHERE 1=1
                <if test="sort == 0">
                    and a.number <![CDATA[ <= ]]>   (a.joinNum * 2)
                </if>
                <if test="sort == 1">
                    and a.number > (a.joinNum * 2)
                </if>
            )
            AND id NOT IN (SELECT DISTINCT team_id FROM team_users WHERE user_id = #{userId} AND STATUS = 0)
        ) t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0
        AND t.result = 0
        AND t.start_time > NOW()
    </select>
    <select id="getTeamList" resultMap="teamListMap" parameterType="com.joyzone.platform.core.model.TeamModel">
        (
        SELECT
            t.id AS teamId,
            t.shop_id AS shopId,
            t.owner,
            s.cover_img AS shopImg,
            s.name AS shopName,
            s.address AS shopAddress,
            t.start_time AS startTime,
            t.number AS personNum
        FROM (
            SELECT * FROM team WHERE id IN (
                SELECT a.id FROM (
                    SELECT
                        t.id,t.`number`,
                        (SELECT COUNT(*) FROM team_users WHERE team_id =t.id AND STATUS = 0) AS joinNum
                    FROM team t
                    LEFT JOIN team_users tu ON tu.team_id = t.id
                    GROUP BY t.id
                ) a
                WHERE 1=1 AND a.number <![CDATA[ <= ]]>  (a.joinNum * 2)
            )
        ) t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0
        AND t.result = 0
        AND t.start_time > NOW()
        ORDER BY t.start_time ASC
        LIMIT 100
        )
        UNION
        (
        SELECT
            t.id AS teamId,
            t.shop_id AS shopId,
            t.owner,
            s.cover_img AS shopImg,
            s.name AS shopName,
            s.address AS shopAddress,
            t.start_time AS startTime,
            t.number AS personNum
        FROM (
            SELECT * FROM team WHERE id IN (
                SELECT a.id FROM (
                    SELECT
                        t.id,t.`number`,
                        (SELECT COUNT(*) FROM team_users WHERE team_id =t.id AND STATUS = 0) AS joinNum
                    FROM team t
                    LEFT JOIN team_users tu ON tu.team_id = t.id
                    GROUP BY t.id
                ) a
                WHERE 1=1
                AND a.number > (a.joinNum * 2)
            )
        ) t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0
        AND t.result = 0
        AND t.start_time > NOW()
        ORDER BY t.start_time ASC
        LIMIT 100
        )
    </select>

    <select id="queryUserJoinTeamList" resultMap="userJoinTeamMap">
        SELECT
        tu.team_id AS teamOrInvitingId,
        u.id AS userId,
        u.head_pic AS userHeadImg
        FROM team_users tu
        LEFT JOIN `user` u ON u.id = tu.user_id
        WHERE tu.team_id = #{teamId} AND tu.status = 0
    </select>

    <select id="checkTeamIfSuccess" resultType="java.util.HashMap">
        SELECT
        t.number,
        (SELECT COUNT(*) FROM team_users WHERE team_id =#{teamId} AND STATUS = 0) AS joinNum
        FROM team t
        WHERE t.id = #{teamId}
    </select>

    <select id="getAppTeamList" resultType="com.joyzone.platform.core.vo.AppTeamVO">
        select
            t.id,t.start_time as startTime,u.id as userId,u.user_name as userName,
            u.head_pic as userPic,u.sex,TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS age,
            u.profession,u.education,s.name as shopName,s.cover_img as coverImg,
            st.name as shopTypeName,if(IFNULL(tu.id,0) = 0,0,1) as userJoinStatus
        FROM team t
                 left join `user` u on u.id = t.owner
                 left join shop s on s.id = t.shop_id
                 left join shop_type st on st.id = s.shop_type_id
                 left join team_users tu on (tu.team_id = t.id and tu.user_id = #{userId} and tu.status = 0)
        where t.status = 0 and t.type = 0 and u.status = 0
    </select>

    <select id="getShopTeamListByShopId" resultMap="shopTeamsMap">
        SELECT
            s.id AS shopId,
            s.`cover_img` AS shopCoverImg,
            s.`name` AS shopName,
            s.`address` AS shopAddress,
            s.`price` AS shopPrice,
            t.id AS teamId
        FROM team t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0 AND t.result = 0
        AND t.shop_id = #{shopId}
    </select>

    <select id="checkUserStartTeam" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM team t
        WHERE t.owner = #{userId}
        AND t.shop_id = #{shopId}
        AND t.status = 0
    </select>

    <select id="checkTeamSaveSuccess" resultMap="BaseResultMap">
        SELECT
        t.id
        FROM team t
        WHERE t.owner = #{userId}
        AND t.chat_group_id = #{chatGroupId}
        AND t.status = 0 limit 1
    </select>

    <select id="getTeamRuleList" resultMap="teamRuleMap">
        SELECT
            t.id AS teamId,
            s.id AS shopId,
            s.`cover_img` AS shopImg,
            s.`name` AS shopName,
            s.`address` AS shopAddress,
            s.lng,
            s.lat,
            s.`price` AS shopPrice,
            s.`phone` AS shopPhone,
            t.number AS personNum,
            t.pay_way AS payWay,
            t.sex_want AS sexWant,
            t.start_time AS startTime,
            (
                SELECT sc.status
                FROM shop_collect sc
                LEFT JOIN team t ON t.shop_id = sc.shop_id
                WHERE sc.user_id = #{userId} AND t.id = #{teamId}
            ) AS shopCollectStatus
        FROM team t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.id = #{teamId}
    </select>
    
    <select id="checkTeamOwner" resultType="java.lang.Integer">
    select 1 from team where id = ${teamId} and owner = ${userId}
    </select>
    
    <select id="getGroupId" resultType="java.lang.String">
    select chat_group_id from team where id = #{teamId} limit 1
    </select>

    <select id="getActivityList" resultMap="activityMap">
       <if test="type == 0">
        SELECT t1.* FROM
        (
          SELECT
            t.id AS teamId,
            t.owner AS userId,
            u.user_name AS userName,
            u.cover_pic AS userCover,
            u.sex AS userSex,
            TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            t.activity_name AS activityName,
            t.start_time AS startTime,
            t.activity_address AS activityAddress,
            1 AS distance,
            t.activity_type AS activityType,
            (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
            t.pay_way AS payWay,
            (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
            t.number AS totalUserNum,
            t.tag AS label,
            -1 as teamStatus
          FROM team t
          LEFT JOIN  `user` u ON u.id = t.owner
          WHERE t.status = 0 AND t.tag = 2
          AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
        ) t1

        UNION

        SELECT t2.* FROM
        (
          SELECT
            t.id AS teamId,
            t.owner AS userId,
            u.user_name AS userName,
            u.cover_pic AS userCover,
            u.sex AS userSex,
            TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            t.activity_name AS activityName,
            t.start_time AS startTime,
            t.activity_address AS activityAddress,
            1 AS distance,
            t.activity_type AS activityType,
            (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
            t.pay_way AS payWay,
            (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
            t.number AS totalUserNum,
            t.tag AS label,
            -1 as teamStatus
          FROM team t
          LEFT JOIN `user` u ON u.id = t.owner
          WHERE (t.invited_id = #{userId} OR t.owner = #{userId}) AND t.tag = 0 AND t.status = 0
          AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
        ) t2

        UNION

        SELECT t3.* FROM
        (
          SELECT
            DISTINCT t.id AS teamId,
            t.owner AS userId,
            u.user_name AS userName,
            u.cover_pic AS userCover,
            u.sex AS userSex,
            TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            t.activity_name AS activityName,
            t.start_time AS startTime,
            t.activity_address AS activityAddress,
            1 AS distance,
            t.activity_type AS activityType,
            (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
            t.pay_way AS payWay,
            (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
            t.number AS totalUserNum,
            t.tag AS label,
            -1 as teamStatus
          FROM team t
          LEFT JOIN follows f1 ON f1.target_id = t.owner
          LEFT JOIN follows f2 ON f2.user_id = t.owner
          LEFT JOIN `user` u ON u.id = t.owner
          WHERE t.tag = 1 AND t.status = 0 AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
          AND ((f1.status = 0 AND f1.user_id = #{userId}) OR (f2.status = 0 AND f2.target_id = #{userId}))
        ) t3
        ORDER BY label
       </if>
       <if test="type == 1">
           SELECT t2.* FROM
           (
               SELECT
                   t.id AS teamId,
                   t.owner AS userId,
                   u.user_name AS userName,
                   u.cover_pic AS userCover,
                   u.sex AS userSex,
                   TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
                   t.activity_name AS activityName,
                   t.start_time AS startTime,
                   t.activity_address AS activityAddress,
                   1 AS distance,
                   t.activity_type AS activityType,
                   (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
                   t.pay_way AS payWay,
                   (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
                   t.number AS totalUserNum,
                   t.tag AS label,
                   -1 as teamStatus
               FROM team t
               LEFT JOIN `user` u ON u.id = t.owner
               WHERE (t.invited_id = #{userId} OR t.owner = #{userId}) AND t.tag = 0 AND t.status = 0
               AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
           ) t2

           UNION

           SELECT t3.* FROM
           (
               SELECT
                   DISTINCT t.id AS teamId,
                   t.owner AS userId,
                   u.user_name AS userName,
                   u.cover_pic AS userCover,
                   u.sex AS userSex,
                   TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
                   t.activity_name AS activityName,
                   t.start_time AS startTime,
                   t.activity_address AS activityAddress,
                   1 AS distance,
                   t.activity_type AS activityType,
                   (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
                   t.pay_way AS payWay,
                   (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
                   t.number AS totalUserNum,
                   t.tag AS label,
                   -1 as teamStatus
               FROM team t
               LEFT JOIN follows f1 ON f1.target_id = t.owner
               LEFT JOIN follows f2 ON f2.user_id = t.owner
               LEFT JOIN `user` u ON u.id = t.owner
               WHERE t.tag = 1 AND t.status = 0 AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
               AND ((f1.status = 0 AND f1.user_id = #{userId}) OR (f2.status = 0 AND f2.target_id = #{userId}))
           ) t3
           ORDER BY label
       </if>
       <if test="type == 2">
           SELECT t1.* FROM
           (
               SELECT
                   t.id AS teamId,
                   t.owner AS userId,
                   u.user_name AS userName,
                   u.cover_pic AS userCover,
                   u.sex AS userSex,
                   TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
                   t.activity_name AS activityName,
                   t.start_time AS startTime,
                   t.activity_address AS activityAddress,
                   1 AS distance,
                   t.activity_type AS activityType,
                   (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
                   t.pay_way AS payWay,
                   (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
                   t.number AS totalUserNum,
                   t.tag AS label,
                   -1 AS teamStatus
               FROM team t
               LEFT JOIN  `user` u ON u.id = t.owner
               WHERE t.status = 0 AND t.tag = 2
               AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
           ) t1 ORDER BY t1.startTime
       </if>
       <if test="type == 3">
           SELECT t1.* FROM
           (
               SELECT
                   t.id AS teamId,
                   t.owner AS userId,
                   u.user_name AS userName,
                   u.cover_pic AS userCover,
                   u.sex AS userSex,
                   TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
                   t.activity_name AS activityName,
                   t.start_time AS startTime,
                   t.activity_address AS activityAddress,
                   1 AS distance,
                   t.activity_type AS activityType,
                   (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
                   t.pay_way AS payWay,
                   (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
                   t.number AS totalUserNum,
                   t.tag AS label,
                   -1 AS teamStatus
               FROM team t
               LEFT JOIN  `user` u ON u.id = t.owner
               WHERE t.status = 0 AND t.tag = 2
               AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
           ) t1 ORDER BY t1.joinUserNum DESC
       </if>
        <if test="type == 4">
            SELECT t1.* FROM
            (
                SELECT
                    t.id AS teamId,
                    t.owner AS userId,
                    u.user_name AS userName,
                    u.cover_pic AS userCover,
                    u.sex AS userSex,
                    TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
                    t.activity_name AS activityName,
                    t.start_time AS startTime,
                    t.activity_address AS activityAddress,
                    1 AS distance,
                    t.activity_type AS activityType,
                    (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
                    t.pay_way AS payWay,
                    (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
                    t.number AS totalUserNum,
                    t.tag AS label,
                    -1 AS teamStatus
                FROM team t
                LEFT JOIN  `user` u ON u.id = t.owner
                WHERE t.status = 0 AND t.tag = 2 AND t.owner = 0
                AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
            ) t1 ORDER BY t1.joinUserNum DESC
        </if>
    </select>

    <select id="queryJoinUserImgs" resultType="java.lang.String">
        SELECT u.head_pic as headPic
        FROM team t
        LEFT JOIN team_users tu ON tu.team_id = t.id
        LEFT JOIN `user` u ON u.id = tu.user_id
        WHERE t.id = #{teamId} and tu.status = 0
    </select>

    <select id="getActivityDetail" resultMap="activityDetailMap">
      SELECT
        t.id AS teamId,
        t.owner AS userId,
        t.activity_type AS activityType,
        t.shop_id AS shopId,
        s.name AS shopName,
        t.activity_name AS activityName,
        t.start_time AS startTime,
        t.activity_address AS activityAddress,
        t.pay_way AS payWay,
        t.number_boy AS boyNumber,
        t.number_girl AS girlNumber,
        (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
        t.number AS totalUserNum,
        t.status,
        t.tag
      FROM team t
      LEFT JOIN shop s ON s.id = t.shop_id
      WHERE t.id = #{teamId}
    </select>

    <select id="queryJoinUserInfos" resultType="com.joyzone.platform.core.dto.ActivityUserDTO">
      SELECT
        u.id AS userId,
        u.user_name AS userName,
        u.cover_pic AS userCover,
        u.sex AS userSex,
        TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge
      FROM team t
      LEFT JOIN team_users tu ON tu.team_id = t.id
      LEFT JOIN `user` u ON u.id = tu.user_id
      WHERE t.id = #{teamId} and tu.status = 0
    </select>

    <select id="getOrderList" resultMap="activityMap">
        SELECT
            t.id AS teamId,
            t.owner AS userId,
            u.user_name AS userName,
            u.cover_pic AS userCover,
            u.sex AS userSex,
            TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            t.activity_name AS activityName,
            t.start_time AS startTime,
            t.activity_address AS activityAddress,
            1 AS distance,
            t.activity_type AS activityType,
            (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
            t.pay_way AS payWay,
            (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
            t.number AS totalUserNum,
            t.tag AS label,
            t.status as teamStatus
        FROM team t
        LEFT JOIN `user` u ON u.id = t.owner
        <if test="type == 0">
            WHERE t.owner = #{userId}
        </if>
        <if test="type == 1">
            LEFT JOIN team_users tu ON tu.team_id = t.id
            WHERE tu.user_id = #{userId} AND t.owner != #{userId}
        </if>
        ORDER BY t.status
    </select>

    <select id="getShopTabOne" resultMap="shopDetailDtoMap">
      SELECT
          s.id AS shopId,
          s.name AS shopName,
          s.address AS shopAddress,
          s.phone AS shopPhone,
          s.price AS price,
          s.lng AS lng,
          s.lat AS lat,
          (select count(id) from shop_collect where status = 1 and user_id = #{userId} and shop_id = #{shopId}) as isCollected,
          ${userId} as userId,
          s.shop_info_h5 as shopInfoH5
      FROM shop s
      WHERE s.id = #{shopId}
    </select>

    <select id="queryShopPicList" resultType="java.lang.String">
        SELECT d.file_path FROM document d
        WHERE d.owner = #{shopId}
    </select>

    <select id="getShopActivityList" resultMap="activityMap">
      SELECT t1.* FROM
        (SELECT
            t.id AS teamId,
            t.owner AS userId,
            u.user_name AS userName,
            u.cover_pic AS userCover,
            u.sex AS userSex,
            TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
            t.activity_name AS activityName,
            t.start_time AS startTime,
            t.activity_address AS activityAddress,
            1 AS distance,
            t.activity_type AS activityType,
            (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
            t.pay_way AS payWay,
            (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
            t.number AS totalUserNum,
            t.tag AS label,
            -1 as teamStatus
         FROM team t
         LEFT JOIN `user` u ON u.id = t.owner
         LEFT JOIN shop s ON s.id = t.shop_id
         WHERE t.status = 0 AND t.tag = 2 AND s.id = #{shopId}
         AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
        ) t1

        UNION

      SELECT t2.* FROM
        (SELECT
          t.id AS teamId,
          t.owner AS userId,
          u.user_name AS userName,
          u.cover_pic AS userCover,
          u.sex AS userSex,
          TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
          t.activity_name AS activityName,
          t.start_time AS startTime,
          t.activity_address AS activityAddress,
          1 AS distance,
          t.activity_type AS activityType,
          (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
          t.pay_way AS payWay,
          (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
          t.number AS totalUserNum,
          t.tag AS label,
          -1 as teamStatus
         FROM team t
         LEFT JOIN `user` u ON u.id = t.owner
         LEFT JOIN shop s ON s.id = t.shop_id
         WHERE t.status = 0 AND t.tag = 0 AND s.id = #{shopId}
         AND (t.invited_id = #{userId} OR t.owner = #{userId})
         AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
        ) t2

        UNION

      SELECT t3.* FROM
        (SELECT
          t.id AS teamId,
          t.owner AS userId,
          u.user_name AS userName,
          u.cover_pic AS userCover,
          u.sex AS userSex,
          TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS userAge,
          t.activity_name AS activityName,
          t.start_time AS startTime,
          t.activity_address AS activityAddress,
          1 AS distance,
          t.activity_type AS activityType,
          (SELECT s.price FROM shop s WHERE s.id = t.shop_id) AS price,
          t.pay_way AS payWay,
          (SELECT COUNT(tu.id) FROM team_users tu WHERE tu.team_id = t.id and tu.status = 0) AS joinUserNum,
          t.number AS totalUserNum,
          t.tag AS label,
          -1 as teamStatus
         FROM team t
         LEFT JOIN `user` u ON u.id = t.owner
         LEFT JOIN shop s ON s.id = t.shop_id
         LEFT JOIN follows f1 ON f1.target_id = t.owner
         LEFT JOIN follows f2 ON f2.user_id = t.owner
         WHERE t.status = 0 AND t.tag = 1 AND s.id = #{shopId}
         AND TIMESTAMPDIFF(HOUR,NOW(),t.start_time) > 1
         AND ((f1.status = 0 AND f1.user_id = #{userId}) OR (f2.status = 0 AND f2.target_id = #{userId}))
        ) t3
      ORDER BY label
    </select>
    
    <update id="updateChatGroupId">
    	update team set chat_group_id = #{chatGroupId} where id = #{id}
    </update>

    <select id="countUserStartTeam" resultType="java.lang.Integer">
        SELECT COUNT(*) AS num FROM team t
        WHERE t.owner = #{userId} AND t.shop_id = #{shopId} AND t.status = 0
    </select>
    
    <update id="failInviting">
    	update team set status = 2 where id = #{invitingId}
    </update>
    
    <insert id="save" parameterType="com.joyzone.platform.core.model.TeamModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    	insert into team(shop_id, shop_name, owner,start_time,type,status,result,pay_way,sex_want,create_time,update_time,chat_group_id,
    	activity_type,activity_name,activity_address,number,number_boy,number_girl,to_way,invited_id,tag)
    	values(#{shopId,jdbcType=BIGINT},#{shopName,jdbcType=VARCHAR},#{owner,jdbcType=BIGINT},
  #{startTime,jdbcType=TIMESTAMP},#{type,jdbcType=INTEGER},
  #{status,jdbcType=INTEGER},#{result,jdbcType=INTEGER},#{payWay,jdbcType=INTEGER},
  #{sexWant,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
  #{chatGroupId,jdbcType=VARCHAR},#{activityType,jdbcType=INTEGER},#{activityName,jdbcType=VARCHAR},#{activityAddress,jdbcType=VARCHAR},
  #{number,jdbcType=INTEGER},#{numberBoy,jdbcType=INTEGER},#{numberGirl,jdbcType=INTEGER},#{toWay,jdbcType=INTEGER},#{invitedId,jdbcType=BIGINT},#{tag,jdbcType=INTEGER})
    </insert>

    <select id="getInviteUserInfo" resultType="java.util.HashMap">
        SELECT
          u.id AS inviteUserId,
          u.user_name AS inviteUserName
        FROM USER u
        LEFT JOIN team t ON t.invited_id = u.id
        WHERE t.id = #{teamId}
    </select>

    <select id="getSystemActivity" resultType="java.util.HashMap">
        SELECT hu.hobby_id AS hobbyId,h.hobby_name AS hobbyName,COUNT(hu.id) AS num FROM hobby_user hu
        LEFT JOIN hobby h ON h.id = hu.hobby_id
        GROUP BY hu.hobby_id ORDER BY num DESC LIMIT 5
    </select>

    <update id="setTeamStatusFailedAuto">
        UPDATE team SET STATUS = 2 WHERE id IN (
            SELECT a.id FROM (
              SELECT id FROM team WHERE STATUS = 0 AND TIMESTAMPDIFF(HOUR,start_time,NOW()) > 6
            ) a
        )
    </update>
    
    
    <select id="getTeamHeadImg" resultType="java.lang.String">
    	SELECT head_pic FROM USER LEFT JOIN team ON user.`id` = team.`owner` WHERE team.`chat_group_id` = #{chatGroupId};
    </select>
</mapper>