<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.TeamModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
      <result column="pay_way" property="payWay" jdbcType="INTEGER" />
      <result column="sex_want" property="sexWant" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="teamListMap" type="com.joyzone.platform.core.dto.TeamDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="shopId" property="shopId" jdbcType="BIGINT" />
    <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="DATE" />
    <result column="personNum" property="personNum" jdbcType="INTEGER" />
    <collection property="userJoinList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDto">

    </collection>
  </resultMap>

  <resultMap id="userJoinTeamMap" type="com.joyzone.platform.core.dto.UserJoinTeamDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="shopTeamsMap" type="com.joyzone.platform.core.dto.ShopTeamsDto">
        <id column="shopId" property="shopId" jdbcType="BIGINT" />
        <result column="teamId" property="teamId" jdbcType="BIGINT" />
        <result column="shopCoverImg" property="shopCoverImg" jdbcType="VARCHAR" />
        <result column="shopName" property="shopName" jdbcType="VARCHAR" />
        <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
        <result column="shopPrice" property="shopPrice" jdbcType="DECIMAL" />
        <collection property="teamUsers" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                    fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDto">

        </collection>
    </resultMap>

    <select id="getTeamList" resultMap="teamListMap" parameterType="com.joyzone.platform.core.model.TeamModel">
        SELECT
            t.id AS teamId,
            t.shop_id AS shopId,
            s.cover_img AS shopImg,
            s.name AS shopName,
            s.address AS shopAddress,
            t.start_time AS startTime,
            t.number AS personNum
        FROM (
            SELECT * FROM team WHERE id IN (
                SELECT a.id FROM (
                    SELECT
                    t.id,t.`number`,
                    (SELECT COUNT(*) FROM team_users WHERE team_id =t.id AND STATUS = 0) AS joinNum
                    FROM team t
                    LEFT JOIN team_users tu ON tu.team_id = t.id
                    GROUP BY t.id
                ) a
                WHERE 1=1
                <if test="sort == 0">
                    and a.number <![CDATA[ <= ]]>   (a.joinNum * 2)
                </if>
                <if test="sort == 1">
                    and a.number > (a.joinNum * 2)
                </if>
            )
        ) t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0
        AND t.result = 0
        AND t.start_time > NOW()
    </select>

    <select id="queryUserJoinTeamList" resultMap="userJoinTeamMap">
        SELECT tu.team_id AS teamId,u.id AS userId,u.head_pic AS userHeadImg
        FROM team_users tu
        LEFT JOIN user u ON u.id = tu.user_id
        WHERE tu.team_id = #{teamId} AND tu.status = 0
    </select>

    <select id="checkTeamIfSuccess" resultType="java.util.HashMap">
        SELECT
        t.number,
        (SELECT COUNT(*) FROM team_users WHERE team_id =#{teamId} AND STATUS = 0) AS joinNum
        FROM team t
        WHERE t.id = #{teamId}
    </select>

    <select id="getAppTeamList" resultType="com.joyzone.platform.core.vo.AppTeamVO">
        select
            t.id,t.start_time as startTime,u.id as userId,u.user_name as userName,
            u.head_pic as userPic,u.sex,TIMESTAMPDIFF(YEAR,u.birthday,NOW()) AS age,
            u.profession,u.education,s.name as shopName,s.cover_img as coverImg,
            st.name as shopTypeName,if(IFNULL(tu.id,0) = 0,0,1) as userJoinStatus
        FROM team t
                 left join user u on u.id = t.owner
                 left join shop s on s.id = t.shop_id
                 left join shop_type st on st.id = s.shop_type_id
                 left join team_users tu on (tu.team_id = t.id and tu.user_id = #{userId} and tu.status = 0)
        where t.status = 0 and t.type = 0 and u.status = 0
    </select>

    <select id="getShopTeamListByShopId" resultMap="shopTeamsMap">
        SELECT
            s.id AS shopId,
            s.`cover_img` AS shopCoverImg,
            s.`name` AS shopName,
            s.`address` AS shopAddress,
            s.`price` AS shopPrice,
            t.id AS teamId
        FROM team t
        LEFT JOIN shop s ON s.id = t.shop_id
        WHERE t.status = 0 AND t.result = 0
        AND t.shop_id = #{shopId}
    </select>

    <select id="checkUserStartTeam" resultMap="BaseResultMap">
        SELECT
        t.*
        FROM team t
        WHERE t.owner = #{userId}
        AND t.shop_id = #{shopId}
        AND t.status = 0
    </select>
</mapper>