<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.TeamModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="owner" property="owner" jdbcType="BIGINT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="teamListMap" type="com.joyzone.platform.core.dto.TeamDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="shopId" property="shopId" jdbcType="BIGINT" />
    <result column="shopImg" property="shopImg" jdbcType="VARCHAR" />
    <result column="shopName" property="shopName" jdbcType="VARCHAR" />
    <result column="shopAddress" property="shopAddress" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="DATE" />
    <result column="personNum" property="personNum" jdbcType="INTEGER" />
    <collection property="userJoinList" javaType="ArrayList" column="{teamId=teamId}" select="com.joyzone.platform.core.mapper.TeamMapper.queryUserJoinTeamList"
                fetchType="lazy" ofType="com.joyzone.platform.core.dto.UserJoinTeamDto">

    </collection>
  </resultMap>

  <resultMap id="userJoinTeamMap" type="com.joyzone.platform.core.dto.UserJoinTeamDto">
    <id column="teamId" property="teamId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="userHeadImg" property="userHeadImg" jdbcType="VARCHAR" />
  </resultMap>


    <select id="getTeamList" resultMap="teamListMap" parameterType="com.joyzone.platform.core.model.TeamModel">
          SELECT
           t.id AS teamId,
           t.shop_id AS shopId,
           s.cover_img AS shopImg,
           s.name AS shopName,
           s.address AS shopAddress,
           t.start_time AS startTime,
           t.number AS personNum
          FROM team t
          LEFT JOIN shop s ON s.id = t.shop_id
          WHERE t.status = 0
          AND t.result = 0
    </select>

    <select id="queryUserJoinTeamList" resultMap="userJoinTeamMap">
        SELECT tu.team_id AS teamId,u.id AS userId,u.head_pic AS userHeadImg
        FROM team_users tu
        LEFT JOIN user u ON u.id = tu.user_id
        WHERE tu.team_id = #{teamId} AND tu.status = 0
    </select>
</mapper>