<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.UserModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,user_name,type,phone,head_pic,profession,education,age,sex,birthday,status,create_time,update_time,login_name
  </sql>

  <select id="getUserList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.UserModel">
      SELECT
        <include refid="BaseResultSQL"></include>
      FROM user
  </select>

  <select id="getUserByPhone" resultType="com.joyzone.platform.core.model.UserModel" >
      SELECT * FROM user
      WHERE phone = #{phone}
  </select>
</mapper>