<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joyzone.platform.core.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.joyzone.platform.core.model.UserModel" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="play_num" property="playNum" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="head_pic" property="headPic" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="BaseResultSQL">
    id,user_name,play_num,login_name,password,type,phone,head_pic,profession,education,age,sex,birthday,status,create_time,update_time
  </sql>

  <select id="getUserList" resultMap="BaseResultMap" parameterType="com.joyzone.platform.core.model.UserModel">
      SELECT
        <include refid="BaseResultSQL"></include>
      FROM user
  </select>

  <select id="getUserByPhone" resultType="com.joyzone.platform.core.model.UserModel" >
      SELECT * FROM user
      WHERE phone = #{phone} limit 1
  </select>

  <delete id="delUsers">
    delete from user where id in
    <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
        #{id}
    </foreach>
  </delete>

  <select id="getUserInfo" resultType="com.joyzone.platform.core.model.UserModel">
    SELECT
      id,user_name as userName,play_num as playNum,login_name as loginName,phone,head_pic as headPic,sex,birthday,
      timestampdiff(YEAR,birthday,NOW()) as age
    FROM user WHERE  id = #{userId}
  </select>
  
    <insert id="saveUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="UserModel" >
  insert into user(user_name,play_num, login_name,password,type,phone,head_pic,profession,education,age,sex,birthday,status,create_time,update_time)
  values(#{userName,jdbcType=VARCHAR},#{playNum,jdbcType=VARCHAR},#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{type,jdbcType=INTEGER},#{phone,jdbcType=VARCHAR},
  #{headPic,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{sex,jdbcType=INTEGER},
  #{birthday,jdbcType=TIMESTAMP},#{status,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="updateChatMD5">
  	update user set chat_id_md5 = #{md5} where id = ${userId}
  </update>
</mapper>